@import "tailwindcss";

/* #root {
  max-width: 1280px;
} */

body {
  overflow-x: clip;
}

.spankAnim {
  animation: sparkUp 5s ease-in-out infinite;
}

.flame {
  animation: flameMove 2s ease-in-out infinite;
}

.blink {
  animation: blink 3s linear infinite;
}

.blinkTwo {
  animation: blink 4s linear infinite;
}

.fontAdd {
  font-family: 'DesFont';
}

@keyframes shifting {
  0% {
    right: 0%;
    opacity: 0%;
  }

  10% {
    opacity: 100%;
  }

  90% {
    opacity: 100%;
  }

  100% {
    right: 100%;
    opacity: 0%;
  }
}

@keyframes sparkUp {
  0% {
    bottom: 0%;
    opacity: 0;
    right: var(--xposition)
  }
  5% {
    opacity: 1;
  }
  30% {
    right: calc(var(--xposition) + var(--range))
  }
  60% {
    opacity: 1;
    right: calc(var(--xposition) - var(--range))
  }
  100% {
    bottom: 100%;
    opacity: 0;
    right: calc(var(--xposition) + var(--range))
  }
}

@keyframes flameMove {
  0% {
    left: var(--positionFlame);
    bottom: var(--upFlame);
  }
  25% {
    bottom: calc(var(--upFlame) - 5px);
  }
  50% {
    left: calc(var(--positionFlame) + 40px);
  }
  75% {
    bottom: calc(var(--upFlame) + 5px);
  }
  100% {
    left: var(--positionFlame);
    bottom: var(--upFlame);
  }
}

@keyframes appearence {
  0% {
    rotate: 20deg;
    transform: translateX(100vw);
    scale: 0;
  }
  40% {
    transform: translateX(-5vw);
    scale: 105%;
  }
  60% {
    transform: translateX(1vw);
    scale: 70%;
  }
  100% {
    rotate: 0;
    transform: translateX(0vw);
    scale: 1;
  }
}

@keyframes fall {
  0% {
    rotate: -5deg;
    transform: translateY(-250vh);
    scale: 0;
  }
  45% {
    transform: translateY(4vh);
    scale: 1.1;
  }
  65%{
    transform: translateY(-1vh);
    scale: 0.9;
  }
  75%{
    transform: translateY(1vh);
  }
  100% {
    rotate: 0;
    transform: translateY(0vh);
    scale: 1;
  }
}

@keyframes idle {
  0% {
    transform: translateY(0vh);
  }
  50% {
    transform: translateY(-1vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

@keyframes evil {
  0% {
    scale: 1;
    transform: translateY(0vh);
  }
  50% {
    scale: 1.02;
    transform: translateY(0.5vh);
  }
  100% {
    scale: 1;
    transform: translateY(0vh);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }  
  7% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  13% {
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
  19% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}